body {
  font-family: Roboto, helvetica, sans-serif;
}

header,
main,
footer {
  max-width: 760px;
  margin: 0 auto;
}

div.banner {
  border: 1px solid #bbb;
  padding: 1rem;
  background-color: rgb(230, 243, 254);
  font-weight: 700;
  word-break: break-word;
  text-align: center;
}

h1 {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

/* Main grid layout */
main {
  display: grid;
  grid-template-columns: 1fr 1fr; /* Two equal columns */
  gap: 20px; /* Space between columns */
}

h2 {
  color: navy;
  text-align: left; /* Left-align the <h2> */
  grid-column: span 2; /* Span the two columns */
}

article p {
  text-align: justify;
}

.callout {
  color: #f0e6f6;
  background-color: #702963;
  padding: 20px; /* Fix the padding issue */
}

footer {
  margin-top: 1rem;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  font-size: smaller;
  text-align: left; /* Move the footer content to the left */
}
