* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
}

header {
    display: flex;
    position: relative;
    justify-content: space-between;
    background-color: #333;
    color: white;
    padding: 1rem;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
}

.hamburger {
    display: block;
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 1.5rem;
    background: none;
    border: none;
    color: white;
}

ul.menu {
    display: none;
    flex-direction: column;
    list-style-type: none;
    padding: 0;
    margin: 0;
    transition: 0.5s ease;
   
}

ul.menu.show {
    display: flex;
}

ul.menu li {
    margin: 0.5rem 0;
}

ul.menu a {
    color: white;
    text-decoration: none;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    transition: background-color 0.3s;
}

ul.menu a:hover {
    background-color: #555;
}

main {
    padding: 1rem;
    text-align: center;
}

.gallery {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
}

figure {
    margin: 0;
}

figure img {
    width: 100%;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 1rem;
}

footer p {
    margin: 0.5rem 0;
}
